.cart {
  width: 25%;
  display: block;
  /* margin-left: 20px; */
  height: 100vh;
  position: relative;
}
h1 {
  margin: 0;
  border-bottom: 2px solid #e5e5e5;
}

/* style for items in cart to add scroll effect */
.cart-products {
  overflow-y: scroll;
  height: 75%
}

.purchase {
  padding: 1em;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #e5e5e5;
}

.purchase-info{
  margin-left: 1em;
  line-height: 1.5em;
}
.purchase-info button{
  background-color: rgba(173, 216, 230, 0.5);
  border: 1px solid #3bb9ff;
}

.purchase-info button:disabled {
 background-color: rgba(173, 216, 230, 0.1);
}

#product-price {
  font-weight: 900;
  font-size: 0.9em;
  margin-left: 2.5em;
}

.name {
  list-style-type: square;
  color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name button {
  border: 0;
  background-color: transparent;
  margin-top: -1em;
  padding: 5px;
  font-size: 0.7em;
}

#name.button:hover {
  border: none;
}
.total {
  background-color: #add8e6;
  padding: 10px;
  text-align: center;
  margin: 1em 2em;
}

/* style for checckout buttons and camcel button */
.checkout{
  position: absolute;
  bottom: 0%;
  margin: 0 2em;
  
}

#check-btn {
  width: 200px;
  color: white;
  border: 1px solid green;
  background-color: green;
  margin-bottom: 10px;
}

#check-btn:hover{
   background-color: #fff;
   color: green;
}

#hold {
  color: #3bb9ff;
  border: 1px solid #3bb9ff;
  margin-right: 10px;
}
#hold:hover {
  background-color: #3bb9ff;
  color: #fff;
}

#cancel {
  color: red;
  border: 1px solid red;
}
#cancel:hover{
  background-color: red;
  color: #fff;
}

.checkout button {
  padding: 10px;
  background-color: white;
  font-size: 0.8em;
  width: 90px;
  font-weight: 500;
}
