.dropdown {
  border: none;
  color: #000;
  font-weight: 900;
  font-size: 1em;
  background-color: #fff;
}

/* drop-dowm menu */
.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: 0.5s;
  position: fixed;
  width: 20px;
  font-size: 15px;
  overflow-x: hidden;
  overflow-y: auto;
}
.fa {
  padding: 10px;
  color: rgba(0, 0, 0, 0.2);
}
#utensils {
  color: rgba(253, 132, 18, 0.9);
  background-color: rgba(255, 192, 203, 0.7);
}

#search {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.8);
}
.card img {
  border-radius: 5px;
  cursor: pointer;
}
